@media (max-width: 1650px) {
    .numbers {
        padding: 0 100px 200px 100px !important;
    }
    .restaurant {
        padding: 0 50px 0 100px !important;
    }

    .contacts {
        .container {
            .contacts__all {
                .contacts__form {
                    .feed-form {
                        label {
                            width: 500px !important;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1350px) {
    .numbers {
        padding: 0 50px 200px 50px !important;
    }
}


@media (max-width: 1300px) {


    .container {
        max-width: 1185px;
    }

    .header {
        .container {
            .header__wrap {
                display: flex;
                flex-flow: row nowrap;
                
                .button {
                    margin-left: 260px;  // если при адаптации будет мешаться изменить единицы измерения на %
                    padding: 12px 35px 12px 35px; //аналогичная ситуация
                    border: 1px solid $white-color;
                    opacity: 1;
                    font-size: 13px;
                    font-weight: 400;
                    @include FontBehaviorMenu;
                    &:hover {
                        color: $white-color;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .info {
        .container {
            .info__welcome {
                font-size: 34px;
                text-align: center;
            }
        }
    }

    .numbers {
        .numbers__imgs {
            .number__img {
                img {
                    height: 210px;
                }
            }
        }
    }

    .restaurant {
        padding: 0 0 0 0 !important;
        text-align: center;
        .container {
            .restaurant__items {
                flex-direction: column-reverse;
                align-items:    center;
                .restaurant__item {
                    .restaurant__descr {
                        margin: 0 auto;
                        margin-bottom: 15px;
                    }
                    img {
                        height: 275px !important;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    footer {
        padding: 100px 100px 120px 100px !important;
    }

    .contacts {
        .container {
            .contacts__all {

                .contacts__info {
                    width: 50%;
    
                    .contacts__hotel {
                        .contacts__title {
                            @include contacts__title;
                            font-size: 23px !important;
                        }
                        .contacts__subtitle {
                            @include contacts__subtitle;
                            margin-bottom: 15px;
                            font-size: 1.2rem !important;
                        }
                    }
        
                    .contacts__path {
                        margin-top: 50px;
                        .contacts__title {
                            @include contacts__title;
                            font-size: 23px !important;
                        }
                        .contacts__subtitle {
                            @include contacts__subtitle;
                            margin-bottom: 20px;
                            font-size: 1.2rem !important;
                        }
                    }
        
                    .contacts__contact {
                        margin-top: 50px;
                        .contacts__title {
                            @include contacts__title;
                            font-size: 23px !important;
                        }
                        .contacts__contact-tel {
                            @include contacts__title;
                            margin-bottom: 10px;
                            font-size: 23px !important;
                        }
                        .contacts__contact-faks {
                            @include contacts__title;
                            margin-bottom: 10px;
                            font-size: 23px !important;
                        }
                        .contacts__contact-email {
                            @include contacts__title;
                            font-size: 23px !important;
                        }
                    }
                }


                .contacts__form {
                    .feed-form {
                        label {
                            width: 400px !important;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1250px) {
    .numbers {
        .numbers__header {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;

            .numbers__title {
                margin: 0 auto;
            }

           .numbers__button {
                margin: 0 auto;
           }
        }
    }

    .numbers__imgs {
        flex-direction: column;
        align-items: center;
        .number__img {
            img {
                height: 300px;
            }
            .number__book {
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: 1100px) {
    .container {
        max-width: 915px;
    }

    .header {
        .container {
            .header__wrap {
                ul {
                    li {
                        a {
                            font-size: 15px;
                        }
                    }
                }
                .button {
                    margin-left: 150px;
                }
            }
        }
    }

    .numbers {
        .numbers__header {
            display: flex;
            flex-direction: column;

            .numbers__title {
                margin: 0 auto;
            }

            a {
                width: 21%;
                margin: 0 auto;
            }
        }
    }

    .numbers__imgs {
        flex-direction: column;
        align-items: center;
        .number__img {
            img {
                height: 300px   ;
            }
        }
    }


    .contacts {
        .container {
            .contacts__all {

                .contacts__info {
                    width: 50%;
    
                    .contacts__hotel {
                        .contacts__title {
                            @include contacts__title;
                            font-size: 17px !important;
                        }
                        .contacts__subtitle {
                            @include contacts__subtitle;
                            margin-bottom: 15px;
                            font-size: 1.2rem !important;
                        }
                    }
        
                    .contacts__path {
                        margin-top: 50px;
                        .contacts__title {
                            @include contacts__title;
                            font-size: 17px !important;;
                        }
                        .contacts__subtitle {
                            @include contacts__subtitle;
                            margin-bottom: 20px;
                            font-size: 1.2rem !important;
                        }
                    }
        
                    .contacts__contact {
                        margin-top: 50px;
                        .contacts__title {
                            @include contacts__title;
                            font-size: 17px !important;
                        }
                        .contacts__contact-tel {
                            @include contacts__title;
                            margin-bottom: 10px;
                            font-size: 17px !important;
                        }
                        .contacts__contact-faks {
                            @include contacts__title;
                            margin-bottom: 10px;
                            font-size: 17px !important;
                        }
                        .contacts__contact-email {
                            @include contacts__title;
                            font-size: 17px !important;
                        }
                    }
                }


                .contacts__form {
                    .feed-form {
                        label {
                            width: 300px !important;
                        }
                    }
                }
            }
        }
    }


    .payment {
        .container {
            .payment__wrap {
                .payment__subtitle {
                    font-size: 1.5rem !important;
                }
            }
        }
    }
     
}

@media (max-width: 992px) {
    .carousel {
        .container {
            .carousel__inner {
                width: 100% !important;
            }
        }
    }
}

@media (max-width: 991px) {
    .carousel {
        .container {
            .carousel__inner {
                #slick-slide-control00, #slick-slide-control01, #slick-slide-control02 {
                    display: none;
                }
                .slick-dots {
                    display: flex;
                    justify-content: space-evenly;
                }
            }
        }

    }


    .service {
        .container {
            .service__title {
                font-size: 35px !important;
            }
            .service__icons {
                display: flex;
                flex-direction: column;
                align-items:center;
                .service__icon {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 25px;
                }
            }
        }
    }

    footer {
        padding: 100px 50px 120px 50px!important;
    }



    .contacts {

        padding: 0 20px 0 20px !important;
        text-align: center;
        .container {
            .contacts__all {
                display: flex;
                flex-direction: column;

                .contacts__info {
                    width: 100% !important;
                    margin-bottom: 20px;
    
                    .contacts__hotel {
                        .contacts__title {
                            @include contacts__title;
                            
                        }
                        .contacts__subtitle {
                            @include contacts__subtitle;
                            margin-bottom: 15px;
                            
                        }
                    }
        
                    .contacts__path {
                        margin-top: 50px;
                        .contacts__title {
                            @include contacts__title;
                            
                        }
                        .contacts__subtitle {
                            @include contacts__subtitle;
                            margin-bottom: 20px;
                            
                        }
                    }
        
                    .contacts__contact {
                        margin-top: 50px;
                        .contacts__title {
                            @include contacts__title;
                            
                        }
                        .contacts__contact-tel {
                            @include contacts__title;
                            margin-bottom: 10px;
                            
                        }
                        .contacts__contact-faks {
                            @include contacts__title;
                            margin-bottom: 10px;
                            
                        }
                        .contacts__contact-email {
                            @include contacts__title;
                            
                        }
                    }
                }


                .contacts__form {
                    .feed-form {
                        align-items: center;
                        label {
                            width: 600px !important;
                        }
                    }
                }
            }
        }
    }

    
}

@media (max-width: 900px) {
    .container {
        max-width: 800px;
    }

    .header {
        .container {
            .header__wrap {
                display: flex;
                flex-flow: row nowrap;
                
                ul {
                    li {
                        a {
                            font-size: 13px;
                        }
                    }
                }

                .button {
                    margin-left: 100px;  // если при адаптации будет мешаться изменить единицы измерения на %
                    padding: 12px 35px 12px 35px; //аналогичная ситуация
                    border: 1px solid $white-color;
                    opacity: 1;
                    font-size: 11px;
                    font-weight: 400;
                    @include FontBehaviorMenu;
                    &:hover {
                        color: $white-color;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .info  {
        padding: 100px 100px 120px 100px !important;
    }

    .payment {
        .container {
            .payment__wrap {
                .payment__title {
                    font-size: 1.8rem !important;
                }
                .payment__subtitle {
                    font-size: 1.3rem !important;
                }
            }
        }
    }
    

}

@media (max-width: 850px) {
    footer {
        .container {
            .footer__wrapper {
                display: flex;
                flex-direction: column;
                align-items:center; 
                .footer__wrap {
                    flex-direction: column;
                    align-items:center; 
                    margin-bottom: 20px;

                    .footer__address {
                        text-align: center;
                    }

                    .footer__menu {
                        padding: 0 0 0 0 !important;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    .footer__links {
                        list-style-type: none;
                        display: flex;
                        justify-content: space-between;
                        width: 140%;
                        padding: 0 0 0 0;
                        margin-bottom: 20px;
                        flex-direction: initial;
                    }
                }
            }
        }
    }
}

@media (max-width: 850px) {

    .container {
        max-width: 630px;
    }

    .header {
        .container {
            .header__menu {
                display: flex;
                position: fixed;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                top: 0;
                left: -100%;
                width: 50%;
                height: 100vh;
                padding: 20px 15px;
                background-color: rgba(0, 0, 0, 0.8);
                transition: 0.6s all;
                .menu__item {
                    padding-right: 0;
                    border: none;
                    margin: 10px 0;
                    a {
                        font-size: 20px;
                    }
                }
            }
            .header__menu_active {
                left: 0;
            }
        }

        .hamburger {
            display: block;
            position: absolute;
            right: 20px;
            top: 40px;
            transform: translateY(-50%);
            width: 25px;
            height: 12px;
            span {
                display: block;
                height: 2px;
                width: 100%;
                background-color: #ffff;
                margin-bottom: 2px;
                transition: 0.5s all;
            }
        }
        .hamburger_active {
            span {
                margin-bottom: -2px;
                &:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }
    .button {
        display: none;
    }

    .promo {
        .promo__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 0;
            .promo__header {
                
                font-size: 60px;
            }
        }
        .button_main {
            display: block;
            @include buttons;
        }
    }

    .info  {    
        padding: 100px 100px 120px 100px !important;
    }
}

@media (max-width: 800px) {

    .carousel {
        padding: 0 !important;
        text-align: center;
        h2 {
            @include title;
            
        }
    }
    .carousel__inner {
        display: none;
    }
    .carousel__mobile {
        
            img {
            height: 275px;
            margin-bottom: 20px;
        }
    }
    .service {
        padding: 100px 0 120px 0 !important;
    }
}

@media (max-width: 690px) {
    .sales {
        .sales__main {
            display: flex;
            flex-direction: column;
            .sale__img {
                display: flex;
                justify-content: center;
            }
            .sales__text {
                .sales__title {
                    text-align: center;
                }
                .sales__desc {
                    text-align: center;
                }
            }
        }

    }
}


@media (max-width: 550px) {
    .promo {
        .promo__wrapper {
            .promo__header {
                font-size: 50px;
            }
            .promo__subheader {
                font-size: 14px;     
            }
        }
    }

    .info {
        padding: 50px 50px 100px 50px !important;

        .container {
            .info__welcome {
                font-size: 36px;
                text-align: center;
            }

            .info__descr, .info__descr-2 {
                font-size: 15px;
            }
        }
    }

    .service {
        .container {
            .service__title {
                font-size: 30px !important;
                text-align: center;
            }
        }
    }


    .contacts {

        padding: 0 20px 0 20px !important;
        text-align: center;
        .container {
            .contacts__all {
                display: flex;
                flex-direction: column;

                .contacts__info {
                    width: 100% !important;
                    margin-bottom: 20px;
    
                    .contacts__hotel {
                        .contacts__title {
                            @include contacts__title;
                            
                        }
                        .contacts__subtitle {
                            @include contacts__subtitle;
                            margin-bottom: 15px;
                            
                        }
                    }
        
                    .contacts__path {
                        margin-top: 50px;
                        .contacts__title {
                            @include contacts__title;
                            
                        }
                        .contacts__subtitle {
                            @include contacts__subtitle;
                            margin-bottom: 20px;
                            
                        }
                    }
        
                    .contacts__contact {
                        margin-top: 50px;
                        .contacts__title {
                            @include contacts__title;
                            
                        }
                        .contacts__contact-tel {
                            @include contacts__title;
                            margin-bottom: 10px;
                            
                        }
                        .contacts__contact-faks {
                            @include contacts__title;
                            margin-bottom: 10px;
                            
                        }
                        .contacts__contact-email {
                            @include contacts__title;
                            
                        }
                    }
                }


                .contacts__form {
                    .feed-form {
                        align-items: center;
                        label {
                            width: 400px !important;
                        }
                    }
                }
            }
        }
    }

    .payment {
        .container {
            .payment__wrap {
                .payment__title {
                    font-size: 1.5rem !important;
                }
                .payment__subtitle {
                    font-size: 1.2rem !important;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .promo {
        min-height: 550px;
        .promo__wrapper {
            
            margin-top: 130px;
            .promo__header {
                font-size: 40px;
            }
            .promo__subheader {
                font-size: 12px;     
            }
        }
    }

    .info {
        padding: 50px 50px 100px 50px !important;

        .container {
            .info__welcome {
                font-size: 32px;
                text-align: center;
            }

            .info__descr, .info__descr-2 {
                font-size: 15px;
            }
        }
    }

    .numbers {
        .container {
            .numbers__header {
                .numbers__title {
                    font-size: 42px;
                }
            }   
        }
    }
}