@mixin FontBehaviorMenu {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $menu-font;
    transition: all 0.7s;
    
}

@mixin buttons {
    padding: 12px 35px 12px 35px; //аналогичная ситуация
    border: 1px solid $white-color;
    opacity: 1;
    font-size: 15px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $menu-font;
    transition: all 0.7s;
    
}

@mixin title {
    font-family: "Noto Serif Display";
    font-size: 50px;
    font-weight: 500;
}