// header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     .header__menu {
//         ul {
//             display: flex;
//             justify-content: space-between;
//             list-style-type: none;
//         }
//     }
    
// }

.header {
    width: 100%;
    height: 70px;

    .hamburger {
        display: none;
    }

    .container {
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__menu {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;
    
            li {
                display: inline-block;
    
                a {
                    display: inline-block;
                    @include FontBehaviorMenu;
                    padding: 10px;
                    opacity: 0.7;
                    &:hover {
                        color: $white-color;
                        opacity: 1;
                    }
                }
            }
        }

        .header__wrap {
            display: flex;
            flex-flow: row nowrap;
            
            .button {
                margin-left: 350px;  // если при адаптации будет мешаться изменить единицы измерения на %
                padding: 12px 35px 12px 35px; //аналогичная ситуация
                border: 1px solid $white-color;
                opacity: 1;
                font-size: 13px;
                font-weight: 400;
                @include FontBehaviorMenu;
                &:hover {
                    color: $white-color;
                    opacity: 1;
                }
            }
        }
    }

    
}