.our-hostel {
    background-color: $backround_color;
    min-height: 500px;
    padding: 100px 100px 0 150px;
    .container {
        .our-hostel__title {
            @include title;
        }
    }
}